<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a new Robotics Club Team</h1>
        <div style="width: 30%; margin: 30px auto;">
        <form action="/teams" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Name" name="name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Leader" name="leader" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Image URL" name="image" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="textarea" placeholder="Description" name="description" required>
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Add Team">
            </div>
        </form>
            <a href="/teams">Return</a>
        </div>

    </div>
</div>
<%- include('../partials/footer') %>
