<%- include('partials/header') %>

<h1>Authentication Error!</h1>

<p>You do not have permission to perform that action. Make sure to login and that you're an Officer in our discord.
If you feel this is an error, contact an Officer on our Discord Server. See Help page on navigation bar for more info.

</p>

<%- include('partials/footer') %>