<%- include('partials/header') %>

<h1>Instructions for Website</h1>


<p>Insert a how-to here for each feature of the website including discord login especially.</p>
<%- include('partials/footer') %>