<%- include('partials/header') %>

<h1>Robotics Club!</h1>
<p id="info"></p>
<!-- <iframe src="https://discord.com/widget?id=904785393558388766&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe> -->
<iframe src="https://discord.com/widget?id=689155749880004829&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

<script>
	window.onload = () => {
		const fragment = new URLSearchParams(window.location.hash.slice(1));
		const [accessToken, tokenType] = [fragment.get('access_token'), fragment.get('token_type')];

		if (!accessToken) {
			return document.getElementById('login').style.display = 'block';
		}
		
		fetch('https://discord.com/api/users/@me', {
			headers: {
				authorization: `${tokenType} ${accessToken}`,
			},
		})
			.then(result => result.json())
			.then(response => {
				console.log(response);
				const { id, username, discriminator,  avatar} = response;
				document.getElementById('login').innerHTML = `${username}#${discriminator}`;
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/user", true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.send(JSON.stringify({
    				username: username,
					discriminator: discriminator,
					avatar: avatar,
					id: id
				}));
			})
		.catch(console.error);
	};
</script>

<%- include('partials/footer') %>